---
title: "en toda la web"
---

<h2>Resultados de la búsqueda</h2>

<%= render '_search_types_filter', :search_type => :all %>

<%= render '_search', :search_type => :all %>

<div class="search_results contents featured">

  <h3>Contenidos<span>(23)</span></h3>

  <%= render '_list_of_featured_contents' %>

  <p class="show_all_results"><a href="/contents/">Ver todos los contenidos</a></p>

</div>

<div class="search_results users featured">

  <h3>Usuarios<span>(15)</span></h3>

  <%= render '_list_of_featured_users' %>

  <p class="show_all_results"><a href="/users/">Ver todos los usuarios</a></p>

</div>
