<ul class="list_of_users">
    <li class="clear">
      <img src="/images//user.jpeg" alt="Avatar el usuario XXX" class="framed" />
			<div class="info">
        <p class="fullname"><a href="#">Manolo Escobar Martínez</a></p>
        <p class="location">Gijón, España</p>
        <p class="actions"><a href="#" class="add_as_friend"><span>Añadir a mis amigos</span></a></p>							
			</div>
    </li>
    <li>
      <img src="/images//user.jpeg" alt="Avatar el usuario XXX" class="framed" />
      <div class="info">
        <p class="fullname"><a href="#">José Luis Cantero</a></p>
        <p class="location">Barcelona, España</p>
        <p class="actions"><a href="#" class="add_as_friend"><span>Añadir a mis amigos</span></a></p>
			</div>
    </li>
    <li>
      <img src="/images//user.jpeg" alt="Avatar el usuario XXX" class="framed" />
      <div class="info">
        <p class="fullname"><a href="#">Rafael González Suarez</a></p>
        <p class="location">Ciudad Real, España</p>
        <p class="actions"><a href="#" class="add_as_friend"><span>Añadir a mis amigos</span></a></p>
			</div>
    </li>
    <li class="clear">
      <img src="/images//user.jpeg" alt="Avatar el usuario XXX" class="framed" />
      <div class="info">
        <p class="fullname"><a href="#">José Luis Cantero</a></p>
        <p class="location">Barcelona, España</p>
        <p class="actions"><a href="#" class="add_as_friend"><span>Añadir a mis amigos</span></a></p>
      </div>
    </li>
    <li>
      <img src="/images//user.jpeg" alt="Avatar el usuario XXX" class="framed" />
      <div class="info">
        <p class="fullname"><a href="#">Manolo Escobar Martínez</a></p>
        <p class="location">Gijón, España</p>
        <p class="actions"><a href="#" class="add_as_friend"><span>Añadir a mis amigos</span></a></p>
      </div>
    </li>
 </ul>
