<li>
  <div class="cover">
    <a href="#">
      <img src="/images/content_big.jpeg" alt="Portada del contenido YYYY">
    </a>
  </div>
  <div class="info">
    <p class="title">
      <a href="#">
        Título del contenido
      </a>
    </p>
    <p class="category">Matemáticas &raquo; Integrales</p>
    <ul class="rating">
	    <li class="current-rating" style="width:35px">2.5</li>
	    <li><a href="#" class="one-stars">1</a></li>
	    <li><a href="#" class="two-stars">2</a></li>
	    <li><a href="#" class="three-stars">3</a></li>
	    <li><a href="#" class="four-stars">4</a></li>
	    <li><a href="#" class="five-stars">5</a></li>
	  </ul>
    <p class="authors">
      Por <strong>James Taylor</strong> y <strong>Mary Adams</strong>
    </p>
    <div class="description">
      <p>Praesent accumsan fringilla sapien, in sodales sem vulputate nec. Nullam quis risus ipsum, semper consequat libero. Curabitur eu justo eu ipsum vulputate luctus. Curabitur ac pellentesque diam. Aenean non purus id ante fringilla viverra. Donec leo.</p>
      <p>Fringilla sapien, in sodales sem vulputate nec. Nullam quis risus ipsum, semper consequat libero. Curabitur eu justo eu ipsum vulputate luctus. Curabitur ac pellentesque diam. Aenean non purus id ante fringilla viverra. Donec leo.</p>
    </div>
  </div>
</li>

