* {
  margin: 0;
  padding: 0;
  font-size:x-small;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: #fff;
  padding: 1em;
}

#wrapper {
  width: 1000px;
}

#header {
  border-bottom:3px solid #CDCDCD;
  margin-bottom:1em;
  padding-bottom:1em;
}

h2 {
  font-size:3em;
  margin:0.5em 0;
}

.clear {
  clear:left;
}

/* Cajas de resultados de la búsqueda */

div.search_results {
  clear:both;
  margin:1em 0;
  padding:1em;
}

div.search_results > h3 {
  font-size:2em;
}

div.search_results > h3 > span {
  color:#CDCDCD;
  font-size:1em;
  margin:0 0 0 0.3em;
}

div.search_results.contents.with_filter {
  float:left;
  width:65em;
}

div.search_results.contents.featured {
  float:none;
  width:auto;
}

div.search_results.users.featured {
  float:none;
  width:auto;
}

div.search_results > p.show_all_results {
  border-top:1px solid #CDCDCD;
  margin:1em 0;
  padding-top:1em;
  text-align:right;
}

div.search_results > p.show_all_results > a {
  font-size:1.4em;
}

/* Botones de búsqueda */

input[type="submit"] {
  border:none;
  background-color: #00adef;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 0.5em;
  padding: 0.4em 1em;
}

input[type="submit"]:hover {
  text-decoration:underline;
}

/* Formulario de búsqueda rápida del encabezado */

#quick_search_form {
  text-align:right;
}

#quick_search_form > input[type='text'] {
  font-size:1.4em;
}

#quick_search_form > select {
  font-size:1.4em;
}

#quick_search_form > input[type='submit'] {
  font-size:1.3em;
  padding:0.2em 1em;
}

#search_types {
  margin-top:1em;
}

#search_types > ul {
  margin:0.7em 0;
}

#search_types > ul > li {
  display:inline;
  margin-left:1em;
}

#search_types > ul > li:first-child {
  margin-left:0em;
}

#search_types > ul > li > span, #search_types > ul > li > a {
  font-size:1.4em;
  padding:0.7em;
}

#search_types > ul > li > span {
  font-weight:bold;
}

/* Formulario de búsqueda */

#search {
  background:#CDCDCD;
  padding:1em;
  position:relative;
}

#search_form > input[type="text"] {
  border:1px solid #333;
  font-size:1.6em;
  padding:0.3em;
  width:20em;
}

#search_form > input[type="submit"] {
  font-size:1.6em;
}

#toggle_search_type_link {
  display:block;
  margin:0.5em 0;
}

/* Formulario avanzado de búsqueda */

#advanced_search_fields {
  margin:1em 0;
}

#advanced_search_fields > ul.form_fields {
  list-style-type: none;
}

#advanced_search_fields > ul.form_fields > li {
  background-color: white;
  border-bottom: 1px solid #EBEBEB;
  margin: 0.5em 0;
  overflow: hidden;
  padding: 0.5em;
}

#advanced_search_fields > ul.form_fields > li > input, 
#advanced_search_fields > ul.form_fields > li > select, 
#advanced_search_fields > ul.form_fields > li > textarea {
  border: 1px solid #cdcdcd;
  color: #464646;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  padding: 0.5em;
}

#advanced_search_fields > ul.form_fields > li > select[size] {
  width: 63%;
}

#advanced_search_fields > ul.form_fields > li > label {
  font-size: 1.2em;
  float: left;
  padding-top: 0.5em;
  width: 14em;
}

#advanced_search_fields > ul.form_fields > li > span {
  display: inline;
  font-size: 80%;
  font-weight: normal;
  margin-left: 0%;
  padding-top: 0em;
}

/* Filtro de resultados de contenidos por categorías */

div.filter.content_categories {
  float:right;
  margin:1em 0;
  padding:1em;
  width:30em;
}

div.filter.content_categories > h3 {
  font-size:1.8em;
}

div.filter.content_categories ul {
  margin:1em 0 1em 3em;
}

div.filter.content_categories ul > li {
  margin-bottom:0.5em;
}

div.filter.content_categories ul > li > a {
  font-size:1.2em;
}

/* Listado corto de usuarios */

#list_of_featured_users {
  list-style-type: none;
  margin: 1em 0;
  overflow: hidden;
}

#list_of_featured_users > li.clear {
  margin-left: 0em; 
}

#list_of_featured_users > li {
  display: block;
  float: left;
  overflow: hidden;
  margin-bottom: 1em;
  margin-left: 2em;
  text-align:center;
  width: 10em;

}

#list_of_featured_users > li > div.avatar {
  margin: 0 0.5em 0.5em 0;
}

#list_of_featured_users > li > div.info {
}

#list_of_featured_users > li > p {
  line-height: 100%;
  margin-bottom: 0;
}

#list_of_featured_users > li p.fullname {
  margin: 0.3em 0;
}

#list_of_featured_users > li p.fullname > a {
  font-size: 1.2em;
  margin: 0.3em 0;
}

#list_of_featured_users > li p.location {
  color:#999;
  font-size:1.2em;
  margin-top:0.5em;
}

/* Listado de usuarios */

#list_of_users {
  border-bottom:1px solid #CDCDCD;
  margin:1em 0;
  overflow:hidden;
}

#list_of_users > li {
  border-bottom:1px solid #CDCDCD;
  list-style-type:none;
  float:left;
  margin:0 2em 2em 0;
  overflow:hidden;
  padding: 0 1em 1em 1em;
  width:45em;
}

#list_of_users > li.last_row {
  border:none;
}

#list_of_users > li > div.avatar {
  float:left;
  width:10em;
}

#list_of_users > li > div.info {
  float:right;
  width:35em;
}

#list_of_users > li > div.info > p.fullname > a {
  font-size:1.6em;
}

#list_of_users > li > div.info > p.location {
  color:#999;
  font-size:1.5em;
}

#list_of_users > li > div.info > ul.activity {
  border-top:1px dashed #CDCDCD;
  margin: 0.5em 0 0;
  padding-top:1em;
}

#list_of_users > li > div.info > ul.activity > li {
  list-style-type:none;
  display:inline;
  margin-right:1.5em;
}

#list_of_users > li > div.info > ul.activity > li > a {
  font-size:1.1em;
  padding:0.2em 0 0.2em 1.8em;
}

#list_of_users > li > div.info > ul.activity > li.number_of_contacts > a {
  background:url(/stylesheets/images/contact.png) left center no-repeat;
}

#list_of_users > li > div.info > ul.activity > li.number_of_contents > a {
  background:url(/stylesheets/images/documents.png) left center no-repeat;
  padding-left:2em;
}

/* Listado corto de contenidos */

#list_of_featured_contents {
  list-style-type: none;
  margin: 1em 0;
  overflow: hidden;
}

#list_of_featured_contents > li {
  float: left;
  display: block;
  padding: 0.5em;
  text-align: center;
  width: 13em;
}

#list_of_featured_contents > li > a > span {
  font-size: 1.2em;
}

#list_of_featured_contents > li > a > img {
  display: block;
  margin: 0 auto 0.5em auto;
}

#list_of_featured_contents > li > p.category {
  color:#999;
  font-size:1.2em;
  margin-top:0.5em;
}

/* Listado de contenidos */

#list_of_contents {
  margin:1em 0;
}

#list_of_contents > li {
  border-bottom:1px solid #CDCDCD;
  list-style-type:none;
  margin-bottom:1em;
  overflow:hidden;
  padding:1em 0;
}

#list_of_contents > li > div.cover {
  float:left;
  padding-right:2em;
  width:15em;
}

#list_of_contents > li > div.info {
  width:80em;
  float:right;
}

.search_results.contents.with_filter > #list_of_contents > li > div.info {
  width:47em;
}


#list_of_contents > li > div.info > p.title > a {
  font-size:1.6em;
}

#list_of_contents > li > div.info > p.category {
  color:#999;
  font-size:1.5em;
}

#list_of_contents > li > div.info > div.description {
  border-top:1px dashed #CDCDCD;
  margin-top:1em;
  padding-top:0.5em;
}

#list_of_contents > li > div.info > div.description > p {
  font-size:1.2em;
  line-height:140%;
  margin-bottom:0.9em;
}

#list_of_contents > li > div.info > ul.rating {
  list-style: none;
  margin: 0.5em 0 0.5em;
  padding: 0;
  width: 75px;
  height: 15px;
  position: relative;
  background: url(/stylesheets/images/star_rating.gif) top left repeat-x;
}

#list_of_contents > li > div.info > ul.rating > li {
  padding: 0px;
  margin: 0px;
  height: 15px;
  width: 15px;
  float: left;
}

#list_of_contents > li > div.info > ul.rating > li > a {
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-decoration: none;
  text-indent: -9000px;
  z-index: 20;
  position: absolute;
  padding: 0px;
  overflow: hidden;
}

#list_of_contents > li > div.info > ul.rating > li > a.one-star {
  left: 0px;
}

#list_of_contents > li > div.info > ul.rating > li > a.one-star:hover {
  width: 15px;
}

#list_of_contents > li > div.info > ul.rating > li > a.two-stars {
  left: 15px;
}

#list_of_contents > li > div.info > ul.rating > li > a.two-stars:hover {
  width: 30px;
}

#list_of_contents > li > div.info > ul.rating > li > a.three-stars {
  left: 30px;
}

#list_of_contents > li > div.info > ul.rating > li > a.three-stars:hover {
  width: 45px;
}

#list_of_contents > li > div.info > ul.rating > li > a.four-stars {
  left: 45px;
}

#list_of_contents > li > div.info > ul.rating > li > a.four-stars:hover {
  width: 60px;
}

#list_of_contents > li > div.info > ul.rating > li > a.five-stars {
  left: 60px;
}

#list_of_contents > li > div.info > ul.rating > li > a.five-stars:hover {
  width: 75px;
}

#list_of_contents > li > div.info > ul.rating > li.current-rating {
  background: url(/images/star_rating.gif) left bottom;
  position: absolute;
  height: 15px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}



/* Paginación de los resultados */

.search_results > ul#pagination {
  clear: both;
  list-style-type: none;
  overflow: hidden;
  padding: 1em 0 1em 0;
  text-align: center;
}

.search_results > ul#pagination a:hover {
  text-decoration: underline;
}

.search_results > ul#pagination li {
  display: inline;
  margin-left: 0.5em;
}

.search_results > ul#pagination li.active {
  border: 1px solid #cdcdcd;
  font-size: 1.4em;
  padding: 0.4em 0.5em;
}

.search_results > ul#pagination li a {
  border: 1px solid #0054A6;
  font-size: 1.4em;
  padding: 0.4em 0.5em;
}

.search_results > ul#pagination li.prev_link a,
.search_results > ul#pagination li.next_link a {
  border: none;
}

